prd_google_cloud_records = {
  a_record    = "192.0.2.1"
  aaaa_record = "2001:db8::1"
  acme_cnames = {
    apex = {
      name = "_acme-challenge.bunshin.example.com."
      data = "example.4.authorize.certificatemanager.goog."
    }
  }
}

prd_aws_records = {
  user_dns = {
    addresses = {
      main = {
        name      = "bunshin.example.com"
        addresses = ["198.51.100.1", "198.51.100.2"]
      }
    }
    aliases = {
      port_forward_apne1 = {
        name    = "*.ap-northeast-1.bunshin.example.com"
        target  = "dexample1.cloudfront.net"
        zone_id = "Z2FDTNDATAQYW2"
      }
    }
  }
  user_dns_acm_validation = {
    port_forward_apne1 = {
      name = "_example1.ap-northeast-1.bunshin.example.com."
      data = "_example1.abcdefghij.acm-validations.aws."
    }
    port_forward_apne3 = {
      name = "_example3.ap-northeast-3.bunshin.example.com."
      data = "_example3.abcdefghij.acm-validations.aws."
    }
  }
}

prd_weights = {
  aws          = 50
  google_cloud = 50
}
